{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link href="{% static 'css/lmsreg.css' %}" rel="stylesheet" type="text/css" /> 
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
{% endblock css %}



{% block content %}


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .navbar-brand{background-color:#484C6B;}
    </style>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

</style>

</head>
<body>

<header class="navbar navbar-dark sticky-top page-banner-black flex-md-nowrap p-0 shadow">
<a class="page-banner-black col-md-3 col-lg-2 me-0 px-3" href="#">Public Library</a>
<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<form method="get">
  {{ myFilter.form }}
<button class="btn btn-primary" type="submit">Search</button>
</form>
</header>

{% include 'users/navbar.html' %}
<div id="contentBody">
<div class="row">
<div class="col-md-12">
{% if highestRated %}
<div class="carousel-section">
  <div class="carousel-section-header">
    <h2 class="home-h2"><a >Highest Rated Books by Members</a></h2>
  </div>
  <div class="carousel-container carousel-container-decorated">
    <div class="carousel carousel-public_domain carousel--progressively-enhanced"
      data-config="[&quot;.carousel-public_domain&quot;, 6, 5, 4, 3, 2, 1, {}]">   
{% for i in highestRated %}
<div class="book carousel__item">
  <div class="book-cover">
    <a href="#">
      <img class="bookcover" loading="lazy"
        title="{{ i.book_id.book_title }}"
        alt="{{ i.book_id.book_title }}"
      src="{{ i.book_id.book_image }}"/>
    </a>
  </div>
  <div class="book-cta">
<div class="cta-button-group">
  <a href="{% url 'users:book_detail' i.book_id.book_isbn %}" title="Read ebook from Internet Archive" class="cta-btn cta-btn--ia cta-btn--available cta-btn--read"
     data-ol-link-track="CTAClick|Read"
    >View More</a>
</div>

  </div>
</div>
{% endfor %}
{% endif %}
</div>
</div>


<div id="contentBody">
  <div class="row">
  <div class="col-md-12">
  {% if lowestRated %}
  <div class="carousel-section">
    <div class="carousel-section-header">
      <h2 class="home-h2"><a >Lowest Rated Books by Members</a></h2>
    </div>
    <div class="carousel-container carousel-container-decorated">
      <div class="carousel carousel-public_domain carousel--progressively-enhanced"
        data-config="[&quot;.carousel-public_domain&quot;, 6, 5, 4, 3, 2, 1, {}]">   
  {% for i in lowestRated %}
  <div class="book carousel__item">
    <div class="book-cover">
      <a href="#">
        <img class="bookcover" loading="lazy"
          title="{{ i.book_id.book_title }}"
          alt="{{ i.book_id.book_title }}"
        src="{{ i.book_id.book_image }}"/>
      </a>
    </div>
    <div class="book-cta">
  <div class="cta-button-group">
    <a href="{% url 'users:book_detail' i.book_id.book_isbn %}" title="Read ebook from Internet Archive" class="cta-btn cta-btn--ia cta-btn--available cta-btn--read"
       data-ol-link-track="CTAClick|Read"
      >View More</a>
  </div>
  
    </div>
  </div>
  {% endfor %}
  {% endif %}
  </div>
  </div>
<div class="row">
  <div class="col-md-12" style="text-align: center">
  <h3><strong>Books you have reviewed </strong> </h3>
</div>
</div>
{% if myRatings %}
{% for i in myRatings %}
<div class="container">                 
<div class="row">
<div class="col-md-6">
  <br>
  <br>
  <h4>Title: {{ i.book_id.book_title }}</h4>
</div>
</div>
<div class="row">
    <div class="col-md-6">
  <p><strong>Author:</strong> <a href="">{{ i.book_id.book_author }}</a></p> 
  <p><strong>Genre:</strong> {{ i.book_id.book_genre_id }}</p>
  <h3><strong>My Rating:</strong> {{ i.rating}}</h3>
  </div>
  <div class="col-md-6">
  <img src="{{ i.book_id.book_image }}" height="300" width="200">
  </div>
  </div>


 {% endfor %} 
{% else %}
<div>
  <div><em>You&#39;ve not Rated Any Books Yet</em></div>
</div>
 {% endif %}



<!--For analytics-->
<div class="clearfix"></div>
{% endblock content %}

